BETTER_AUTH_SECRET=wRuE/AzENv0mg4C5bMdaa3CWRBZ6NEkFzJr2YQFsWVY=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
ADMIN_SEED_SECRET=nzsvvogrxoldntcmaulhejwngdciypqd

# Default admin seeded on first startup (change after first login)
DEFAULT_ADMIN_EMAIL=admin@projectmonitor.local
DEFAULT_ADMIN_PASSWORD=Admin@1234
DEFAULT_ADMIN_NAME=Admin
